#!/usr/bin/env python

"""
 MD25Odometry.cfg

 Copyright (C) 2018 Alessandro Francescon
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
"""

PACKAGE = "md25"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("filter_enabled", bool_t, 0, "Enabled odometry filtering with IMU data", False)
gen.add("filter_tau", double_t, 0, "The filter tau", 0.075, 0, 1)

exit(gen.generate(PACKAGE, PACKAGE, "MD25Odometry"))
